debugpy
jinja2
vonage
PyJWT
requests
flask=2.3.3
h11
cryptography
setuptools
pytz
idna
multidict
attrs
MarkupSafe
werkzeug
click
blinker
itsdangerous
numpy
cffi
pandas
python-dateutil
Deprecated
pydantic
yarl
aiohttp
aiosignal
frozenlist
certifi
chardet
greenlet
urllib3
six
pendulum
bidict
pycparser
wrapt
wheel
elasticsearch
wsproto
python-dotenv
flask_socketio=5.2.0
flask[async]